<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for("object2Image") }}" method="post">
        <label for="inputString">Input string to convert to image</label><br>
        <input type="text" id="inputString" name="inputString"><br>
        <input type="submit" value="Submit">
    </form>

    <form action="{{ url_for("image2Object") }}" method="post"  enctype="multipart/form-data">
        <label for="inputImage">Upload the image to be decoded</label>
        <input type="file" id="inputImageId" name="inputImageName" accept="image/png, image/jpeg">
        <input type="submit" value="Submit">
    </form> 
</body>
</html>